.about_us {

    margin-left: .5em;
    margin-right: .5em;
    font-family: 'Lato';
    font-weight: 300;
    display: flex;
    flex-direction: row;
}

.about_us h2 {
    
    margin-top: .3em;
    font-family: 'Lato';
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
}

.about_us h3 {
    
    margin: 0;
    font-family: 'Lato';
    font-size: 1.5em;
    font-weight: 300;
}

.destra,.sinistra {

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sin_container {

    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sinistra p {

    height: 6em;
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
}

#group-photo {

    height: 23em;
}

.photo {

    display: flex;
    flex-direction: row;
    align-items: center;
}
.photo img {

    width: 6em;
    height: 6em;
}


.ourdes {

    margin-left: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ourdes p {

    margin: 0;
}

@media all and (max-width: 81.25em) {

    .about_us {
    
        flex-direction: column;
        justify-content: center;
    }
    
    .about_us h2 {
    
        margin: 0;
        margin-bottom: 1em;
    }

    .destra {
    
        margin-top: 3em;
    }
    
    .sinistra, .destra {
    
        width: 100%;
    }
    
    .sin_container {
    
        margin: 0px;
        width: 100%;
    }

    .sin_container p {
    
        height: auto;
    }
    
    #group-photo {
    
        height: auto;
        width: 80%;
    }
    
    .photo {
    
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}



