.dark-green {
    background: #4caf50 !important;
}

.green {
    background: #8bc34a !important;
}

.yellow {
    background: #ffeb3b !important;
}

.orange {
    background: #ffc107 !important;
}

.red {
    background: #f44336 !important;
}
