.dark-green {
    background: green !important;
}

.green {
    background: rgba(102, 187, 106, 1) !important;
}

.yellow {
    background: #FFCA28 !important;
}

.orange {
    background: orange !important;
}

.red {
    background: rgba(239,83,80, 1) !important;
}
