#pull{
    display: none;
    position : relative;
}

.mobileMenu ul{
    display: none;
    list-style: none;
    position:relative;
    z-index: 15;
    top: 180px;
}

.show{
    display: inherit;
    position:relative;
}

.hamburger{
    background: none;
    border: none;
}

@media screen and (max-width: 1200px) {    
    navbar li {  
        width: 50%;
    } 
    navbar a { 
        width: 100%;
    }
    .navbar_list {
        padding-left: 40%;
    }
}  



@media only screen and (max-width : 900px) {  
    .ports-minimize{
        display: none;
    }
     
} 


@media only screen and (max-width : 690px) {  
    
    .navbar_list {  
        display: none;  
    }  
    #pull {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #pull img{
        width: 3em;
        height: 3em;
    }
    
    navbar li {  
        width: 50%;
        background: white;
    }

}
