#pull{
    display: none;
    position : relative;
    margin-right: .5em;
}

.mobileMenu {

    background: black;
}

.mobileMenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position:absolute;
    z-index: 999999;
    top: 5em;
    right: .5em;
}

.mobileMenu ul li {

    margin-right: 0;
}

.hamburger{
    background: none;
    border: none;
}

.hamburger:hover {

    background: white;
}

@media screen and (max-width: 1200px) {    
    navbar li {  
        width: 50%;
    } 
    navbar a { 
        width: 100%;
    }
    .navbar_list {
        padding-left: 40%;
    }
}  



@media only screen and (max-width : 900px) {  
    .ports-minimize{
        display: none;
    }
     
} 


@media only screen and (max-width : 690px) {  
    
    .navbar_list {  
        display: none;  
    }  
    #pull {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #pull img{
        width: 3em;
        height: 3em;
    }
    
    navbar li {  
        /*width: 50%;*/
        background: white;
    }

}
