/*questo è a posto*/
#title{
	font-size: 3em;
}
#ports-image{
	width: 0.8em;
	height : 0.8em;
}
*{
	font-family: 'Lato', sans-serif;
	list-style: none;
	text-decoration: none;
	color : inherit;
	margin : 0px;
	padding : 0px;
}
.container{
	display: flex;
}
ul li {
	padding: 2%;
	padding-left: 7.41%;
	padding-right:7.41%;
	border-left: 1px solid #afadad;
	display: table;	
	text-align: center;
}
ul{
	width: 50%;
}
.navbar-header{
	width: 50%;
}
/*questo è a posto*/


#subtitle{
	margin-top: 1.2em;
	font-size: 2em;
	padding-right: 1%;
}


.navbar-right {
	display:flex;
}

.navbar-brand{
	display:flex;
}
img{
	width: 70px;
	height : 70px;
}

