<div class="descrizione">

    <div class="col-md-6 col-xs-12">
        <h1>Su di noi</h1>
        <ul>
            <li>
                <p>Siamo un gruppo di studenti di Informatica dell'Università di Trento a cui piace programmare web. <br>Il nostro nome deriva dalla fusione di 2 nomi proposti: "TrentoIf" e "Foglia" (con traduzione in inglese di quest'ultima), e il "+" rappresenta appunto l'unione (o "somma") dei due sostantivi.<br>
                </p>
            </li>
            <li>
                <img src="../img/leaf_logo.png" class="img-responsive" width=300px>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-6  col-xs-12">
    <h1>Chi siamo</h1>

    <div class="row row-about">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img src="http://upload.wikimedia.org/wikipedia/it/5/50/Lucio_Battisti_Profilo.png" width="150px" class="img-responsive">
            <p>Pinco Pallino</p>
        </div>

        <div class="col-md-3 col-md-push-1 col-sm-4  col-xs-6">
            <img src="http://upload.wikimedia.org/wikipedia/it/5/50/Lucio_Battisti_Profilo.png" width="150px" class="img-responsive">
            <p>Pinco Pallino</p>
        </div>
        <div class="col-md-3 col-md-push-2 col-sm-4  col-xs-6">
            <img src="http://upload.wikimedia.org/wikipedia/it/5/50/Lucio_Battisti_Profilo.png" width="150px" class="img-responsive">
            <p>Pinco Pallino</p>
        </div>
    </div>

    <div class="row row-about">
        <div class="col-md-3 col-sm-4 col-xs-6" id="profili">
            <img src="http://upload.wikimedia.org/wikipedia/it/5/50/Lucio_Battisti_Profilo.png" width="150px" class="img-responsive">
            <p>Pinco Pallino</p>
        </div>

        <div class="col-md-3 col-md-push-1 col-sm-4 col-xs-6" >
            <img src="http://upload.wikimedia.org/wikipedia/it/5/50/Lucio_Battisti_Profilo.png" width="150px" class="img-responsive">
            <p>Pinco Pallino</p>
        </div>
        <div class="col-md-3 col-md-push-2 col-sm-4 col-xs-6">
            <img src="http://upload.wikimedia.org/wikipedia/it/5/50/Lucio_Battisti_Profilo.png" width="150px" class="img-responsive">
            <p>Pinco Pallino</p>
        </div>
    </div>

</div>
