<div class="about_us">
<div class="sinistra">
    
   <!-- <div class="leaf_logo"> <img src="../img/leaf_logo.png"  width="300px">
    </div>-->
    <h2>Su di noi</h2>

    <div class="sin_container">
    <p>Siamo un gruppo di studenti di Informatica dell'Università di Trento a cui piace programmare web. <br>Il nostro nome deriva dalla fusione di 2 nomi          proposti: "TrentoIf" e "Foglia" (con traduzione in inglese di quest'ultima), e il "+" rappresenta appunto l'unione (o "somma") dei due sostantivi.        <br>Per i nostri lavori applichiamo il design thinking per focalizzare il lavoro su un particolare problema, e per lo sviluppo seguiamo i principi di            Scrum e/o Kanban (a seconda delle situazioni).
    </p>

    <img src="../img/group_image.png" id="group-photo">

</div>
</div>



<div class="destra">
    <h2>Chi siamo</h2>
    <div>
        <div class="photo" id="foto_Andrea">   
            <img src="../img/profilo/foto_andrea.png">
            <div class="ourdes">
            <h3>Andrea Zorzi</h3>
            <p>Rational Architect Mapper Coordinator Associate Software Facilitator</p>
            </div>
        </div>

        <div class="photo" id="foto_Davide">
            <img src="../img/profilo/foto_davide.png">
            <div class="ourdes">
            <h3>Davide Pedranz</h3>
            <p>Resource Finder BackEnd Addicted Data Mining Team Leader</p>
            </div>
        </div>

        <div class="photo" id="foto_Luca">
            <img src="../img/profilo/foto_luca.png">
            <div class="ourdes">
            <h3>Luca Alberigo</h3>
            <p>Junior Social Advertising Expert Solutions Producer</p>
            </div>
        </div>

        <div class="photo" id="foto_Matteo">
            <img src="../img/profilo/foto_teo.png">
            <div class="ourdes">
            <h3>Matteo Zeni</h3>
            <p>Master Time Controller General Administration Officer</p>
            </div>
        </div>

        <div class="photo" id="foto_Samuel">
            <img src="../img/profilo/foto_samuel.png">
            <div class="ourdes">
            <h3>Samuel Giacomelli</h3>
            <p>Master Guru Life Coach Style Brand Identity</p> 
            <p>Artist Designer Director Overview Moderator</p>
            </div>
        </div>

        <div class="photo"  id="foto_Stefano">
            <img src="../img/profilo/foto_stefano.png">
            <div class="ourdes">
            <h3>Stefano Eccher</h3>
            <p>Senior Brand Identity Executive Social Advertising Project Leader</p>
            </div>        
        </div>

        <div class="photo" id="foto_Williams">
            <img src="../img/profilo/foto_willo.png">
            <div class="ourdes">
            <h3>Williams Rizzi</h3>
            <p>Junior Development Strategist Peer-to-Peer Coordinator Surveyor</p>
            </div>
        </div>
    </div>
</div>
</div>