<div class="descrizione">
    <div class="col-md-5 col-md-push-1 col-xs-10 col-xs-push-2">
       
         
            <h1>Su di noi</h1>

            <p>Siamo un gruppo di studenti di Informatica dell'Università di Trento a cui piace programmare web. <br>Il nostro nome deriva dalla fusione di 2 nomi proposti: "TrentoIf" e "Foglia" (con traduzione in inglese di quest'ultima), e il "+" rappresenta appunto l'unione (o "somma") dei due sostantivi.<br>Per i nostri lavori applichiamo il design thinking per focalizzare il lavoro su un particolare problema, e per lo sviluppo seguiamo i principi di Scrum e/o Kanban (a seconda delle situazioni).
            </p>
         
            <img src="../img/group_image.png" class="img-responsive" id="group-photo">

    </div>

    <div class="col-md-1 col-md-pull-5 col-sm-2 col-xs-2 col-xs-pull-10">
         <img src="../img/leaf_logo.png"  width="300px" class="img-responsive">
        
    </div>

<div class="col-md-6 col-sm-12 col-xs-12 ">
    <h1>Chi siamo</h1>

    <div class="row row-about">
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="../img/profilo/foto_andrea.png" width="150px" class="img-responsive">
            <p>Andrea Zorzi</p>
            <p>Rational Architect Mapper Coordinator Associate Software Facilitator</p>
        </div>

        <div class="col-md-2 col-md-push-1 col-sm-4  col-sm-push-1 col-xs-6">
            <img src="../img/profilo/foto_davide.png" width="150px"  class="img-responsive">
            <p>Davide Pedranz</p>
            <p>Resource Finder BackEnd Addicted Data Mining Team Leader</p>
        </div>
          <div class="col-md-2 col-md-push-2 col-sm-4 col-sm-push-2 col-xs-6">
            <img src="../img/profilo/foto_luca.png" width="150px" class="img-responsive">
            <p>Luca Alberigo</p>
            <p>Junior Social Advertising Expert Solutions Producer</p>
        <div class="col-md-2 col-md-push-3 col-sm-4 col-sm-push-3 col-xs-6">
            <img src="../img/profilo/foto_teo.png" width="150px" class="img-responsive">
            <p>Matteo Zeni</p>
            <p>Master Time Controller General Administration Officer</p>
       
        </div>
    </div>

    <div class="row row-about">
        <div class="col-md-3 col-sm-4 col-xs-6" id="profili">
            <img src="../img/profilo/foto_samuel.png" width="150px" class="img-responsive">
            <p>Samuel Giacomelli</p>
            <p>Master Guru Life Coach Style Brand Identity Artist Designer Director Overview Moderator</p>
        </div>

        <div class="col-md-3 col-md-push-1 col-sm-4 col-sm-push-1 col-xs-6" >
            <img src="../img/profilo/foto_stefano.png" width="150px" class="img-responsive">
            <p>Stefano Eccher</p>
            <p>Senior Brand Identity Executive Social Advertising Project Leader</p>
        </div>
        <div class="col-md-3 col-md-push-2 col-sm-4 col-sm-push-2 col-xs-6">
            <img src="../img/profilo/foto_willo.png" width="150px" class="img-responsive">
            <p>Williams Rizzi</p>
            <p>Junior Development Strategist Peer-to-Peer Coordinator Surveyor</p>
        </div>
    </div>

</div>
</div>