<div class="detail-panel">

    <div class="panel-heading aula-title">
        <h2>Aula {{number}}</h2>

        <div>
            <img class="icon" ng-show="room.size == 'tiny'" src="../img/class_icons/dim_extrasmall.png" alt="small"/>
            <img class="icon" ng-show="room.size == 'small'" src="../img/class_icons/dim_small.png" alt="small"/>
            <img class="icon" ng-show="room.size == 'middle'" src="../img/class_icons/dim_medium.png" alt="medium"/>
            <img class="icon" ng-show="room.size == 'big'" src="../img/class_icons/dim_large.png" alt="large"/>
            <img class="icon" ng-show="room.size == 'huge'" src="../img/class_icons/dim_extralarge.png" alt="large"/>
            <img class="icon" ng-show="room.card" src="../img/class_icons/card.png" alt="card"/>
            <img class="icon" ng-show="room.type == 'pc'" src="../img/class_icons/pc_class.png" alt="card"/>
            <img class="icon" ng-show="room.power" src="../img/class_icons/plug.png" alt="card"/>
        </div>
    </div>

    <div class="panel-content-details">
        <div class="tableDetail">
            <table class="table_details">
                <thead>
                    <tr>
                        <th class="text-center"><h4>Orario</h4></th>
                        <th class="text-center"><h4>Oggi, {{ queryDate | date }}</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in states track by $index">
                        <td class="{{s == 'free' ? 'green' : 'red'}}">{{$index + 7}} - {{$index + 8}}</td>
                        <td class="{{s == 'free' ? 'green' : 'red'}}">{{(s == 'free' ? 'Libera' : 'Occupata')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mapDetail">
            <div class="map_detail-heading">

            </div>
            <div class="svgDivContainerDetail">
                <svg id="map_detail" style="width: 100%; height: 100%;"></svg>
            </div>
        </div>
    </div>
</div>
