<!--Inizio tabella orari-->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-center"><h2>Aula A101</h2></div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading text-center"><h2>Disponibili Ora</h2></div>
              <div class="panel-content"> </div>
              <!-- Tabella -->
              <table class="table table-striped">
                  <col width="130">
                  <tr>
                      <th class="text-center"><h4>Orari</h4></th>
                      <th class="text-center"><h4>Lunedì</h4></th>
                      <th class="text-center"><h4>Martedì</h4></th>
                      <th class="text-center"><h4>Giovedì</h4></th>
                      <th class="text-center"><h4>Venerdì</h4></th>
                      <th class="text-center"><h4>Sabato</h4></th>
                  </tr>
                  <tr>
                      <td class="text-center">9-10</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                  </tr>
                  <tr>
                      <td class="text-center">10-11</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                  </tr>
                  <tr>
                      <td class="text-center">11-12</td>
                      <td class="text-center">X</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                  </tr>
                  <tr>
                      <td class="text-center">12-13</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                  </tr>
                  <tr>
                      <td class="text-center">13-14</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">X</td>
                  </tr>
                  <tr>
                      <td class="text-center">14-15</td>
                      <td class="text-center">X</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                  </tr>
                  <tr>
                      <td class="text-center">15-16</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                  </tr>
                  <tr>
                      <td class="text-center">16-17</td>
                      <td class="text-center">X</td>
                      <td class="text-center">X</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center">X</td>
                  </tr>
                  <tr>
                      <td class="text-center">17-18</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                  </tr>
                  <tr>
                      <td class="text-center">18-19</td>
                      <td class="text-center">X</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">X</td>
                  </tr>
              </table>
          </div>
      </div>
      <div class="col-md-6">
        <h1>mappa piano</h1>
      </div>
    </div>    
  </div>
