<div>

    <div>
        <h2>Aula {{number}}</h2>
    </div>

    <div ng-show="error">
        Errore...
    </div>

    <div ng-hide="error">
        <div>
            <h2>Disponibili Ora</h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="text-center"><h4>Orari</h4></th>
                        <th class="text-center"><h4>oggi (TODO)</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in states track by $index">
                        <td class="{{s == 'free' ? 'green' : 'red'}}">{{$index + 7}} - {{$index + 8}}</td>
                        <td class="{{s == 'free' ? 'green' : 'red'}}">{{(s == 'free' ? '' : 'X')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div>
    <h1>Mappa</h1>
    <svg id="map_detail"></svg>
</div>
