<div class="legend">
    <ul>
        <li>
            <div class="circle dark-green"></div>Libera per 7-10 ore
        </li>
        <li>
            <div class="circle green"></div>Libera per 5-6 ore
        </li>
        <li>
            <div class="circle yellow"></div>Libera per 3-4 ore
        </li>
        <li>
            <div class="circle orange"></div>Libera per 1-2 ore
        </li>
        <li>
            <div class="circle red"></div>Attualmente occupata
        </li>
    </ul>
</div>
