<div class="legend row">
<div class="col s2 offset-s1 valign-wrapper center">
            <i class="mdi-image-brightness-1 green-text medium"></i>
            <span class="valign">7-10 ore</span>
</div>
          <div class="col s2 valign-wrapper center">
            <i class="mdi-image-brightness-1 light-green-text medium"></i>
            <span class="valign">5-6 ore</span>
</div>
          <div class="col s2 valign-wrapper center">
            <i class="mdi-image-brightness-1 yellow-text medium"></i>
            <span class="valign">3-4 ore</span>
</div>
          <div class="col s2 valign-wrapper center">
            <i class="mdi-image-brightness-1 amber-text medium"></i>
            <span class="valign">1-2 ore</span>
</div>
          <div class="col s2 valign-wrapper center">
            <i class="mdi-image-brightness-1 red-text medium"></i>
            <span class="valign">Occupata</span>
</div>

</div>
