<p>List</p>



<!--titolo pagina-->
<title class="text-capitalize">Disponibili Ora</title>

<!--Inizio tabella orari-->
<table class="table table-striped table-bordered">
	<col width="130">
	<tr>
		<th class="text-center">ArCoBalEnO</th>
		<th class="text-center">AULA</th>
		<th class="text-center">LUOGO</th>
		<th class="text-center">DISPONIBILITÀ</th>
	</tr>
	<tr>
		<td class="text-center">giallo</td>
		<td class="text-center">A101</td>
		<td class="text-center">Povo1 - Piano Terra</td>
		<td class="text-center">per 8 ore</td>
	</tr>
	<tr>
		<td class="text-center">verde</td>
		<td class="text-center">A101</td>
		<td class="text-center">Povo1 - Piano Terra</td>
		<td class="text-center">per 8 ore</td>
	</tr>
	<tr>
		<td class="text-center">blu</td>
		<td class="text-center">A101</td>
		<td class="text-center">Povo1 - Piano Terra</td>
		<td class="text-center">per 8 ore</td>
	</tr>
</table>