<!--Inizio tabella orari-->
<div class="rooms_panel">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h2>Disponibili Ora</h2>
    </div>

    <!-- <div class="hide">-->
    <div>
        <p>currentDate = {{currentDate | date: 'EEEE - dd-MM-yyyy - HH:mm'}}</p>
        <p>queryDate = {{queryDate | date: 'EEEE - dd-MM-yyyy - HH:mm'}}</p>
        <p>loading = {{loading}}</p>
        <p>error = {{error}}</p>
    </div>

    <p ng-show="loading">Loading...</p>

    <!-- Tabella -->
    <table ng-hide="loading" class="rooms_table">
        <thead>
            <tr>
                <th><h4><a href="" ng-click="order = 'room'; reverse=!reverse">AULA</a></h4></th>
                <th><h4><a href="" ng-click="order = 'building'; reverse=!reverse">EDIFICIO</a></h4></th>
                <th><h4><a href="" ng-click="order = 'floor'; reverse=!reverse">PIANO</a></h4></th>
                <th><h4><a href="" ng-click="order = 'availability'; reverse=!reverse">DISPONIBILITÀ</a></h4></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in rooms | orderBy:order:reverse | filter: isFree">
                <td class="{{room.class}}"><h4><a href="#/details/{{room.number}}">{{room.number}}</a></h4></td>
                <td class="{{room.class}}"><h4>Povo {{room.building}}</h4></td>
                <td class="{{room.class}}"><h4>{{room.floor}}</h4></td>
                <td class="{{room.class}}"><h4>{{room.free ? 'all day' : (room.availability == 1 ?  "< 1 ora" : room.availability + ' ore') }}</h4></td>
            </tr>
        </tbody>
    </table>

</div>
