<div class="map_panel">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h2>Mappe</h2>
    </div>
    <div class="map_container">
        <div class="povo1">
            <div class="povo1_title">POVO 1</div>
            <div class="povo1_maps">
                <!-- POVO1 PIANO TERRA -->
                <div class="single_map">
                    <h3 class="text-center">Piano Terra</h3>
                    <div id="divSvgPovo1PT" style="width: 300px; height: 500px;">

                    </div>
                </div>
                <!-- POVO1 PRIMO PIANO -->
                <div class="single_map">
                    <h3 class="text-center">Primo Piano</h3>
                    <div id="divSvgPovo1P1" style="width: 300px; height: 500px;">

                    </div>
                </div>
            </div>
        </div>
        <div class="povo2">
            <div class="povo2_title">POVO 2</div>
            <div class="povo2_maps">
                <!-- POVO2 PIANO TERRA -->
                <div class="single_map">
                    <h3 class="text-center">Piano Terra</h3>
                    <div id="divSvgPovo2PT" style="width: 300px; height: 500px;">

                    </div>
                </div>
                <!-- POVO2 PRIMO PIANO -->
                <div class="single_map">
                    <h3 class="text-center">Primo Piano</h3>
                    <div id="divSvgPovo2P1" style="width: 300px; height: 500px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../bin/jQuerySVG/jquery.svg.min.js"></script>
<script src="../js/svgLoader.js"></script>

