<div class="map_panel">

    <div class="panel-heading">
        <h2>Mappe</h2>
    </div>

    <legend></legend>

    <div class="map_container">
        <div class="povo1">
            <div class="povo1_title">POVO 1</div>
            <div class="povo1_maps">
                <!-- POVO1 PIANO TERRA -->
                <div class="single_map">
                    <h3 class="text-center">Piano Terra</h3>
                    <div id="divSvgPovo1PT">
                        <svg class="svgDivContainer" id="SvgPovo1PT" style="width: 100%; height: 100%;"></svg>

                    </div>
                </div>
                <!-- POVO1 PRIMO PIANO -->
                <div class="single_map">
                    <h3 class="text-center">Primo Piano</h3>
                    <div id="divSvgPovo1P1" >
                        <svg class="svgDivContainer" id="SvgPovo1P1" style="width: 100%; height: 100%;"></svg>

                    </div>
                </div>
            </div>
        </div>
        <div class="povo2">
            <div class="povo2_title">POVO 2</div>
            <div class="povo2_maps">
                <!-- POVO2 PIANO TERRA -->
                <div class="single_map">
                    <h3 class="text-center">Piano Terra</h3>
                    <div id="divSvgPovo2PT" >
                        <svg class="svgDivContainer" id="SvgPovo2PT" style="width: 100%; height: 100%;"></svg>

                    </div>
                </div>
                <!-- POVO2 PRIMO PIANO -->
                <div class="single_map">
                    <h3 class="text-center">Primo Piano</h3>
                    <div id="divSvgPovo2P1" >
                        <svg class="svgDivContainer" id="SvgPovo2P1" style="width: 100%; height: 100%;"></svg>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
