<div class="search_panel">

    <div class="filtri">
        <div>
            <h2>Filtri</h2>
        </div>
        <div class="filters_container">
            <div class="edificio">
                <h3>Edificio</h3>
                <div class="btn_edif btn_container">
                        <button type="button" ng-click="selectBuilding(1)">Povo 1</button>
                        <button type="button" ng-click="selectBuilding(2)">Povo 2</button>
                        <button type="button" ng-click="selectBuilding('all')">Qualsiasi</button>
                </div>
            </div>
            <div class="piano">
                <h3>Piano</h3>
                <div class="btn_piano btn_container">
                    <!-- ATTENZIONE: vanno raggruppati e disposti in colonna (in fase di definizione del CSS) -->
                    <button type="button" class="btn_piano" ng-click="selectFloor(-1)">Piano -1</button>
                    <button type="button" class="btn_piano" ng-click="selectFloor(0)">Piano Terra</button>
                    <button type="button" class="btn_piano" ng-click="selectFloor('all')">Qualsiasi</button>
                </div>
            </div>
            <div class="aula btn_container">
                <h3>Aula</h3>
                <div>
                    <select ng-model="selectedRoom" ng-init="selectedRoom='all'" class="btn_aula" name="aula">
                        <option value='all'>Qualsiasi</option>
                        <option ng-repeat="n in roomNumbers" value="{{n}}" ng-repeat-end>{{n}}</option>
                    </select>
                </div>
            </div>
    </div>
    </div>

    <div class="risultati">
        <div class="">
            <h2>Risultati</h2>
        </div>

        <div class="results_overflow">
            <!-- <div class="hide">-->
            <div class="hide">
                <p>currentDate = {{currentDate | date: 'EEEE - dd-MM-yyyy - HH:mm'}}</p>
                <p>queryDate = {{queryDate | date: 'EEEE - dd-MM-yyyy - HH:mm'}}</p>
                <p>loading = {{loading}}</p>
                <p>error = {{error}}</p>
                <p>building = {{building}}</p>
                <p>floor = {{floor}}</p>
            </div>

            <p ng-show="loading">Loading...</p>

            <!-- Tabella -->
            <table ng-hide="loading" class="results_table rooms_table">
                <thead>
                    <tr>
                        <th><h4><a href="" ng-click="order = 'room'; reverse=!reverse">AULA</a></h4></th>
                        <th><h4><a href="" ng-click="order = 'building'; reverse=!reverse">EDIFICIO</a></h4></th>
                        <th><h4><a href="" ng-click="order = 'floor'; reverse=!reverse">PIANO</a></h4></th>
                        <th><h4><a href="" ng-click="order = 'availability'; reverse=!reverse">DISPONIBILITÀ</a></h4></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="room in rooms | orderBy:order:reverse | myfilter:building:floor:selectedRoom">
                        <td class="{{room.class}}"><h4><a href="#/details/{{room.number}}">{{room.number}}</a></h4></td>
                        <td class="{{room.class}}"><h4>Povo {{room.building}}</h4></td>
                        <td class="{{room.class}}"><h4>{{room.floor}}</h4></td>
                        <td class="{{room.class}}"><h4>{{room.free ? 'all day' : (room.availability == 1 ?  "< 1 ora" : room.availability + ' ore') }}</h4></td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
</div>
