<!--Inizio tabella orari-->
<div class="search_panel">
    <!-- Default panel contents -->
    <div class="filtri">
        <div class=""><h2>Filtri</h2></div>
        <div class="filters_container">
        <div class="edificio">
            <h3>Edificio</h3>
            <div class="btn_edif">
            <div class="btn_edif_12">
                <button type="button" class="">Povo 1</button>
                <button type="button" class="">Povo 2</button>
            </div>
            <div>
            <button type="button" class="">Qualsiasi</button>
            </div>
            </div>
        </div>
        <div class="piano">
            <h3>Piano</h3>
            <div class="btn_piano">
                <!-- ATTENZIONE: vanno raggruppati e disposti in colonna (in fase di definizione del CSS) -->
                <button type="button" class="btn_piano">1° Piano</button>
                <button type="button" class="btn_piano">Piano Terra</button>
                <button type="button" class="btn_piano">Qualsiasi</button>
            </div>
        </div>
        </div>
        <div class="filters_container">
        <div class="aula">
            <h3>Aula</h3>
            <div>
                <select class="btn_aula" name="aula">
                    <option>Qualsiasi</option>
                    <option>foo</option>
                    <option>bar</option>
                </select>
            </div>
        </div>
        <div class="giorno">
            <h3>Giorno</h3>
            <div>
                 <!-- ATTENZIONE: vanno raggruppati e disposti in colonna (in fase di definizione del CSS) -->
                <button type="button" class="btn_giorno">Lunedì</button>
                <button type="button" class="btn_giorno">Martedì</button>
                <button type="button" class="btn_giorno">Mercoledì</button>
                <button type="button" class="btn_giorno">Giovedì</button>
                <button type="button" class="btn_giorno">Venerdì</button>
                <button type="button" class="btn_giorno">Sabato</button>
            </div>
        </div>
        </div>


    </div>
    <div class="risultati">
        <div class=""><h2>Risultati</h2></div>
        <!-- Tabella -->
        <table class="">
            <tr>
                <th class=""><h4>ArCoBalEnO</h4></th>
                <th class=""><h4>AULA</h4></th>
                <th class=""><h4>DISPONIBILITÀ</h4></th>
            </tr>
            <tr>
                <td class="">giallo</td>
                <td class=""><a href="#/details/A101">A101</a></td>
                <td class="">per 8 ore</td>
            </tr>
            <tr>
                <td class="">verde</td>
                <td class=""><a href="#/details/A101">A101</a></td>
                <td class="">per 8 ore</td>
            </tr>
            <tr>
                <td class="">blu</td>
                <td class=""><a href="#/details/A101">A101</a></td>
                <td class="">per 8 ore</td>
            </tr>
        </table>
    </div>
</div>
