<div class="timetable_panel">
<h2 class="">Orari Servizi facoltà</h2>
<div class="">
	<div class="">
		<div class="">
		  <!-- Default panel contents -->
		  <div class=""><h3 class=""> orari polo scientifico:</h3></div>
		  <div class=""> lunedì-venerdì: 7.40-20.00;<br/> sabato: 8.00-12.45.</div>
		</div>
	</div>
	<div class="">
		<div class="">
		  <!-- Default panel contents -->
		  <div class=""><h3 class=""> orari biblioteca: </h3></div>
		  <div class="">Apertura e Prestito:<br/> lunedi-venerdi: 8.00-21.45;<br/> sabato: 8.00-12.45.</div>
		</div>
	</div>
	<div class="">
		<div class="">
		  <!-- Default panel contents -->
		  <div class=""><h3 class=""> orario povo 0:</h3></div>
          <div class="">lunedì-venerdì: 7.40-20.00;<br/> sabato: 8.00-12.45.</div>
		</div>
	</div>
</div>
</div>
