<h2 class="text-center">Orari Servizi facoltà</h2>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading text-left"><h4 class="text-capitalize"> orari polo scientifico:</h4></div>
		  <div class="panel-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus, leo non rhoncus tempus, nibh quam ultrices odio, non ultricies sapien tellus ac metus. Suspendisse molestie, urna quis tristique fermentum, nulla massa commodo nunc, vitae vulputate dui sem sed elit. Integer quis lobortis enim. Donec quis porttitor mauris. Cras mollis est metus, sit amet tristique eros molestie vitae. Vestibulum dignissim nulla quis dictum lobortis. Aenean turpis est, commodo in auctor fermentum, ultricies quis lectus. Donec sed viverra libero. Aenean dapibus metus mi, a finibus erat faucibus in. Fusce posuere eget mauris sit amet consequat.</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading text-left"><h4 class="text-capitalize"> orari biblioteca: </h4></div>
		  <div class="panel-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus, leo non rhoncus tempus, nibh quam ultrices odio, non ultricies sapien tellus ac metus. Suspendisse molestie, urna quis tristique fermentum, nulla massa commodo nunc, vitae vulputate dui sem sed elit. Integer quis lobortis enim. Donec quis porttitor mauris. Cras mollis est metus, sit amet tristique eros molestie vitae. Vestibulum dignissim nulla quis dictum lobortis. Aenean turpis est, commodo in auctor fermentum, ultricies quis lectus. Donec sed viverra libero. Aenean dapibus metus mi, a finibus erat faucibus in. Fusce posuere eget mauris sit amet consequat.</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading text-left"><h4 class="text-capitalize"> orario povo 0:</h4></div>
          <div class="panel-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus, leo non rhoncus tempus, nibh quam ultrices odio, non ultricies sapien tellus ac metus. Suspendisse molestie, urna quis tristique fermentum, nulla massa commodo nunc, vitae vulputate dui sem sed elit. Integer quis lobortis enim. Donec quis porttitor mauris. Cras mollis est metus, sit amet tristique eros molestie vitae. Vestibulum dignissim nulla quis dictum lobortis. Aenean turpis est, commodo in auctor fermentum, ultricies quis lectus. Donec sed viverra libero. Aenean dapibus metus mi, a finibus erat faucibus in. Fusce posuere eget mauris sit amet consequat.</div>
		</div>
	</div>
</div>
