<p>Timetable</p>


<!--titolo pagina-->
<title class="text-capitalize">Disponibili Ora</title>

<!--Inizio tabella orari-->
<table class="table table-striped">
	Questa è la tabella più gnocca che c'è =)
	<tr>
		<th class="text-center">ArCoBalEnO</td>
		<th class="text-center">AULA</td>
		<th class="text-center">LUOGO</td>
		<th class="text-center">DISPONIBILITÀ</td>
	</tr>
	<tr>
		<td class="text-center">giallo</td>
		<td class="text-center">A101</td>
		<td class="text-center">Povo1 - Piano Terra</td>
		<td class="text-center">per 8 ore</td>
	</tr>
	<tr>
		<td class="text-center">verde</td>
		<td class="text-center">A101</td>
		<td class="text-center">Povo1 - Piano Terra</td>
		<td class="text-center">per 8 ore</td>
	</tr>
	<tr>
		<td class="text-center">blu</td>
		<td class="text-center">A101</td>
		<td class="text-center">Povo1 - Piano Terra</td>
		<td class="text-center">per 8 ore</td>
	</tr>
</table>